			#geral{
				width: 1152px;
				height: 900px;
				background-color: blue;
				border: 2px solid black;
				align-content: center;
				text-alingn: center;
				margin: auto;
				background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
			}
			#pintar{
					background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
					}
			#degrade{
					background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 150%);
	 				width: 1152px;
	 				height: 20px;
			}
			#endereço{
					text-decoration: none;
					text-align: center;
					text-decoration: none;
	 				width: 1152px;
	 				height: 50px;
	 				float: top;
	 				background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
					}
			#pesquisar{
	 				font: heebo;
	 				color: black;
	 				position: relative;
	 			 	right: 210px;	
	 			 	bottom: 10px;
	 				}			
	 		#fluig{
	 				text-decoration: none;
	 				color: black;
	 				margin:  5px;
	 				}
	 		#Blog{
	 				text-decoration: none;
	 				color: black;
	 				margin: 5px;
	 				}	
	 		#home{
	 				text-decoration: none;
	 				color: black;
	 				margin: 5px;
	 				float: center;
	 				}
	 		#principal{
	 				width: 1152px;
	 				height: 800px;
	 				text-align: center;
	 				align-content: center;
	 				align-items: center;
	 				text-decoration: none;
	 				}	
	 		#video{
	 				width: 700px;
	 				height: 400px;
	 				border: 10px solid black;
			 		}
			#final{
 					background: #fddb92 0%;
 					border: 2px solid black;
 					width: 1152px;
 					height: 110px;
					text-align: center;
					position: relative;
					right: 2px;
					
					}
	 		#icon1{
	 				width: 30px;
	 				height: 30px;
	 				margin: 10px;
	 				position: relative;
	 				bottom: 20px;
	 				}		
	 		#icon2{
	 				width: 30px;
	 				height: 30px;
	 				margin: 10px;
	 				}			
	 		#icon3{
	 				width: 30px;
	 				height: 30px;
	 				margin: 10px;
	 				}			
	 		#icon4{
	 				width: 30px;
	 				height: 30px;
	 				margin: 10px;
	 				}	
			#corpo{
				    margin: auto;
					width: 1152px;
					height: 2400px;
					}	